overrides
torch==0.4.1
h5py
boto3

# Data processing
spacy
ftfy
nltk
conllu
pyyaml
pycorenlp
penman
editdistance
word2number

# Write logs for training visualisation with the Tensorboard application
# Install the Tensorboard application separately (part of tensorflow) to view them.
tensorboardX==1.2
